@import '../variables';
@import '../whiteframe';

.material-button {
  padding: 8px 16px;
  position: relative;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  line-height: 20px;
  background-color: transparent;
  cursor: pointer;
  transition: $transition-timing;
  margin: 4px;
  user-select: none;
  z-index: 1;
  &.disabled {
    cursor: not-allowed;
    opacity: .54;
    pointer-events: none;
  }
  &.flat {
    &.primary {
      color: $primary-color;
    }
    &.secondary {
      color: $secondary-color;
    }
  }
  &.raised {
    @extend .whiteframe-z3;
    &:hover {
      @extend .whiteframe-z4;
    }
    &:active {
      @extend .whiteframe-z5;
    }
    &.primary {
      color: #fff;
      background-color: $primary-color;
    }
    &.secondary {
      color: #fff;
      background-color: $secondary-color;
    }
  }
  &.icon-button {
    border-radius: 50%;
    margin: 0;
    height: 40px;
    width: 40px;
    padding: 0;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
    &.primary, &.primary i {
      color: $primary-color;
    }
    &.secondary, &.secondary i {
      color: red;
    }
    i {
      vertical-align: middle;
    }

    &.small {
      height: 40px;
      width: 40px;
    }
    &.square {
      height: 48px;
      width: 48px;
      border-radius: 2px;
      -webkit-mask-image: none;

    }
  }
}

.icon-button-wrapper {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: inline-block;
  margin-right: 8px;
  position: relative;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
  &.small {
    height: 40px;
    width: 40px;
  }
  &.raised {
    @extend .whiteframe-z2;
    &:hover {
      @extend .whiteframe-z3;
    }
    &:active {
      @extend .whiteframe-z4;
    }
  }
  &.flat {
    &.primary, &.primary i {
      color: $primary-color;
    }
    &.secondary, &.secondary i {
      color: $secondary-color;

    }
  }

  &.raised {
    &.primary, &.primary i {
      color: #fff;
    }
    &.secondary, &.secondary i {
      color: #fff;
      background-color: $secondary-color;
    }
  }
}

.list {
  transition: all .25s $swift-out;
}

.secondary-list {
  .list {
    margin: 0;
  }
}