@import '../_whiteframe';

.card {
  background-color: #fff;
  border-radius: 2px;
  @extend .whiteframe-z1;
  //padding: 16px;
  .primary-title {
    padding: 16px 16px 16px 16px;
    .title {
      font-size: 24px;
      font-weight: 400;
    }
    .subtitle {
      font-size: 14px;
      color: rgba(0,0,0,.54);
      font-weight: 400;
      padding: 0;
    }
  }
  .actions {
    padding: 8px;
  }

  .card-supporting-text {
    font-size: 14px;
    margin: 16px;
    display: inline-block;
    width: calc(100% - 32px);
  }

  .card-actions {
    padding: 8px;
    .button {
      margin-bottom: 0;
      color: rgba(0,0,0,.87);
    }
  }

  .card-content {
    padding: 32px 16px 16px 16px;
    display: block;
  }
}

.card

 &.col-md-12,
 &.col-xs-12,
 &.col-md-12 {
  padding: 0;
}