@import '../variables';

.checkbox-container {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  i {
    position: absolute;
    top: 0;
    margin: 12px;
    font-size: 16px;
    opacity: 0;
    color: #fff;
    transition: $transition-timing;
    font-weight: 700;
  }
  .checkbox {
    margin: 10px;
    width: 20px;
    height: 20px;
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;
    border-color: rgba(0,0,0,0.54);
    vertical-align: middle;
    transition: $transition-timing;
  }
  &.has-value {
    i {
      opacity: 1;
    }
    .checkbox {
      background-color: $primary-color;
      border-color: $primary-color;
    }
    &.secondary-color {
      .checkbox {
        background-color: $secondary-color;
        border-color: $secondary-color;
      }
    }
  }

}
