@import '../whiteframe', '../variables';

.material-data-table {
  width: 100%;
  background-color: #fff;
  @extend .whiteframe-z1;

  .material-data-table-container {
    //overflow: auto;
  }

  .material-data-table-header {
    height: 64px;
    display: flex;
    align-items: center;
    padding: 0 24px;
  }

  table {
    border-top: 1px solid rgba(0,0,0,.12);
    border-spacing: 0;
    border-collapse: separate;
    //table-layout: fixed;
  }

  th {
    font-size: 12px;
    text-align: right;
    font-weight: 500;
    color: rgba(0,0,0,.54);
    height: 56px;
    border-bottom: 1px solid rgba(0,0,0,.12);
    vertical-align: middle;
    white-space: nowrap;

    //i:not(.v-first-col) {
    .v-order-by {
      font-size: 16px;
      font-weight: 600;
      transition: all .25s $swift-out;
      vertical-align: middle;
      right: 8px;
      position: relative;

      &.ascending {
        transform: rotate(180deg);
      }

    }

    span {
      vertical-align: middle;
      cursor: pointer;
    }
  }

  tr,
  tr td {
    transition: all .25s $swift-in;
  }

  &.bordered td {
    border-bottom: 1px solid rgba(0,0,0,.12);
  }

  &.striped tbody tr:nth-child(odd) {
    background-color: #f5f5f5;
  }

  td {
    height: 48px;
    text-align: right;
    font-size: 13px;
    color: rgba(0,0,0,.87);
    position: relative;
  }

  td,
  th {
    padding-right: 56px;
    border-right: none;
    border-left: none;
    border-top: none;
    user-select: none;
  }

  th.v-first-col,
  td.v-first-col {
    padding-left: 24px;
    padding-right: 0;
    text-align: left;
    i {
      margin-left: 8px;
      margin-right: 0;
      right: 0;
    }
  }

  tr th.first-col i {
      margin-left: 8px;
      margin-right: 0;
      right: 0;
  }

  tr th:last-child,
  tr td:last-child {
    padding-right: 24px;
  }

  &.hover tr:hover {
    td {
      background-color: #EEEEEE;
    }
  }

  .checkbox i {
    display: block;
  }
  .v-selection {
    width: 56px;
    padding: 0;
  }

  .v-column-options  {
    .v-select-container {
      width: 152px;
      float: right;
    }
  }

  .v-editable {
    cursor: pointer;
  }

  .v-editable span {
    border-bottom: 1px dashed rgba(0,0,0,.54);
    cursor: pointer;
    right: 48px;
    position: relative;
  }
  .v-data-table-edit-container {
    position: absolute;
    left: 230px;
    z-index: 12;
    @extend .whiteframe-z1;
    background-color: #fafafa;
    padding: 16px 16px 0 16px;
    .v-input-container {
      margin: 1px;
    }
  }
  .v-edit-buttons {
    float: right;

    .cancel {
      margin-left: 0;
    }
    .save {
      margin-right: 0;
    }
  }
  .v-table-edit-icon {
    position: absolute;
    right: 56px;
    top: 18px;
    color: rgba(0,0,0,.54);
  }
  .v-results-message {
    text-align: center;
  }
}

.material-data-table.responsive {
  @media screen and (max-width: $small-breakpoint) {

    box-shadow: none;
    .material-data-table-container {
      overflow: visible;
    }
    // Tighten up spacing
    table {
      margin-bottom: 0;
      background-color: transparent;

      > thead,
      > tfoot {
        display: none;
      }

      > tbody {
        display: block;

        > tr {
          box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
          display: block;
          border-radius: 2px;
          margin-bottom: 16px;

          > td {
            background-color: #fff;
            display: block;
            vertical-align: middle;
            text-align: right;
            padding: 16px;
            &:hover {
              background-color: #EEEEEE;
            }
          }
          > td[data-title]:before,
          > td[data-title]:before
          {
            content: attr(data-title);
            font-weight: 500;
            float: left;
            padding-right: 16px;
          }
        }
      }
    }
  }
}

.v-table-edit-backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 11;
}