@import '../variables';
@import '../whiteframe';

.v-dialog-container {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 11;
  pointer-events: none;

  &.show {
    pointer-events: auto;
  }

  // &.dialog-transition {
  //   opacity: 1;
  //   transform: translateY(0px) scale(1);
  //   transition: all .3s ease;

  // }

  // &.dialog-enter, &.dialog-leave {
  //   opacity: 0;
  //   transform: translateY(50px) scale(.75);
  // }

  .v-dialog {
    margin: auto;
    min-width: 280px;
    background-color: #fff;
    max-width: 80%;
    z-index: 10;
    max-height: 80%;
    overflow: hidden;

    @extend .whiteframe-z5;

    .toolbar {
      box-shadow: none;
    }
    .v-dialog-content {
      margin: 20px 0 24px 0;
      padding: 0 24px;
      max-height: calc(80vh - 68px);
      overflow-x: hidden;
      overflow-y: auto;
    }

    &.has-actions .v-dialog-content {
      max-height: calc(80vh - 68px - 44px);
      margin-bottom: 53px;
    }

    .v-dialog-title {
      margin: 24px 24px 20px 24px;
      padding: 0;
      
    }

    &.dialog-transition {
      opacity: 1;
      transform: translateY(0px);
      transition: all .3s $swift-in;
    }

    &.dialog-enter, &.dialog-leave {
      opacity: 0;
      transform: translateY(50px);
    }

    .v-dialog-actions-container {
      padding: 4px;
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: #fff;
      bottom: 0;
      border-top: 1px solid rgba(0,0,0,.12);
    }

    .v-dialog-actions {
      float: right;
    }

    .v-dialog-actions .v-button {
      min-width: 64px;
      padding: 0 8px 0 8px;
      height: 36px;
    }

    &.small {
      width: 280px;
    }

    &.medium {
      width: 480px;
    }

    &.large {
      width: 768px;
    }

  }

  .v-dialog-backdrop {
    z-index: 10;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,.24);
  }
  

}
