@import '../whiteframe';
@import '../variables';
.v-dropdown {
  position: relative;
}
.v-dropdown-container {
  @extend .whiteframe-z1;
  min-width: 112px;
  max-width: 280px;
  //padding: 8px 0;
  display: inline-block;
  position: absolute;
  background-color: #fff;
  overflow: hidden;
  opacity: 0;
  z-index: 10;
  top: 10px;
  pointer-events: none;
  &.closed {
    opacity: 0;
    display: none;
    pointer-events: none;
    //height: 0px;
  }

  &.open {
    z-index: 10;
    pointer-events: auto;
  }

  .list-item {
    //font-size: 15px;
    transition: all .25s $swift-in;
    &:hover {
      background-color: rgba(0,0,0,.12);
    }
  }
}

.v-dropdown-backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 0;
}