@import '../variables';
.material-input-container {
  margin: 16px 0;
  position: relative;
  width: 100%;
  label {
    display: block;
    position: absolute;
    transform: translateY(4px);
    transition: $transition-timing;
    color: rgba(0, 0, 0, .38);
  }

  input,
  textarea {
    background-color: transparent;
    outline: none;
    box-sizing: border-box;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, .12);
    padding: 4px 0;
    font-size: 16px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 16px;

  }

  &.focus, &.has-value {
    label {
      transform: translateY(-16px);
      font-size: 12px;
    }
  }

  &.focus {

    label {
      color: $primary-color;
    }

    input,
    textarea {
      border-bottom: 2px solid $primary-color;
      margin-bottom: 15px;
    }
  }
}