@import '../variables';

.sidebar {
  position: fixed;
  top: 0;
  height: 100vh;
  background-color: #fff;
  z-index: 10;
  width: 280px;
  transition: transform .3s $swift-out;

  .avatar-container {
    padding: 16px;
    background-color: #e8eaf6;
    .avatar {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, .54);
      margin-right: 16px;
    }
    .user-info,
    .avatar {
      display: inline-block;
      vertical-align: middle;
    }

  }

  &.open {

  }

  &.closed {
    transform: translateX(-280px);
  }
  &.locked-open {
    position: relative;
    transform: translateX(0px);
    top: -48px;

  }

  @media only screen and (max-width: $small-breakpoint) {
    &.locked-open {
      transform: translateX(0px);
      top: 0;

    }
    &.closed {
      transform: translateX(-280px);
    }
  }

}
//
.app-bar.locked-open + .container {
  //padding-left: 280px;
  width: calc(100vw - 280px);
  margin-left: 280px;
  @media only screen and (max-width: $small-breakpoint) {
    padding-left: 0;
    margin-left: auto;
    width: 100vw;
  }
}
.sidebar-backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,.52);
  z-index: 5;
  top: 0;
  //transition: opacity, .3s $swift-out;
  //pointer-events: none;
  &.show {
    //opacity: 1;
    animation: fade-in .3s forwards;
  }
  &.hide {
    //display: none;
    //opacity: 0;
    animation: fade-out .3s forwards;
  }
}

@keyframes fade-in {
  0%   {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0%   {
    opacity: 1;
  }
  100% {
    opacity: 0;
    //display: none;
    visibility: hidden;
  }
}