@import '../variables';

.sidebar {
  position: fixed;
  top: 0;
  height: 100vh;
  background-color: #fff;
  z-index: 10;
  width: 280px;
  transition: transform .3s $swift-out;
  
  .avatar-container {
    padding: 16px;
    background-color: #e8eaf6;
    .avatar {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, .54);
      margin-right: 16px;
    }
    .user-info,
    .avatar {
      display: inline-block;
      vertical-align: middle;
    }

  }

  &.open {

  }

  &.closed {
    transform: translateX(-280px);
  }

  &.locked-open {
    position: relative;
    transform: translateX(0px);
    //top: -40px;
    height: 100vh;
    overflow: auto;
  }

  @media only screen and (max-width: $small-breakpoint) {
    height: calc(100vh - 40px);
    overflow: auto;

    &.locked-open {
      transform: translateX(0px);
      top: 64px;
      height: calc(100vh - 64px);
      // height: calc(100vh - 40px);
      // overflow: auto;
    }
    &.closed {
      transform: translateX(-280px);
      height: calc(100vh - 40px);
    }
  }

}
//
.app-bar.locked-open + .container {
  //width: calc(100% - 280px);
  width: 100%;
  padding-left: 280px;
  @media only screen and (max-width: $small-breakpoint) {
    padding-left: 0;
    margin-left: auto;
    width: 100vw;
  }
}
.sidebar-backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,.52);
  z-index: 5;
  top: 0;
  &.show {
    animation: fade-in .3s forwards;
  }
  &.hide {
    animation: fade-out .3s forwards;
  }
}

@keyframes fade-in {
  0%   {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0%   {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
