@import '../variables';
@import '../whiteframe';
.v-tabs {
  width: 100%;
  &.primary > {

    .v-tab-items-container {
      background-color: $primary-color;
      .active-tab-bar {
        background-color: #fff;
      }
      button {
        color: #fff;
      }
    }
  }

  &.secondary > {

    .v-tab-items-container {
      background-color: $secondary-color;

      .active-tab-bar {
        background-color: #fff;

      }

      button {
        color: #fff;
      }
    }
  }
  > span {
    line-height: 24px;
    white-space: nowrap;
  }
  &.icons > .v-tab-items-container .v-tab-items >  {
    button,
    button span {
      line-height: 14px;
    }
  }

  &.icons-only .v-tab-items-container .v-tab-items i {
    margin-bottom: 0;
  }

  .v-tab-items-container .v-tab-items i {
    min-width: 24px;
    min-height: 24px;
  }
}
.v-tab-items-container {
  overflow: hidden;
  padding: 0 8px;
  span {
    //width: 80px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
  }

  &.primary > {
    background-color: $primary-color;
    button {
      color: #fff;
    }
  }

  &.secondary > {
    background-color: $secondary-color;
    button {
      color: #fff;
    }
  }
}

.v-tab-items-container .v-tab-items {
  //background-color: #fff;
  display: flex;
  transition: transform .2s $swift-in;

  button {
    margin: 0;
    padding: 12px 16px;
    border-radius: 0;
    //flex-grow: 1;
  }

  &.panning {
    transition: none;
  }
  position: relative;
  //&.primary > {
  //  background-color: $primary-color;
  //  button {
  //    color: #fff;
  //  }
  //}
  //
  //&.secondary > {
  //  background-color: $secondary-color;
  //  button {
  //    color: #fff;
  //  }
  //}
  i {
    display: block;
    margin-bottom: 10px;
  }
}

.v-tab-items {
  display: inline-block;
}
.active-tab-bar {
  width: 100px;
  height: 2px;
  background-color: $secondary-color;
  position: relative;
  top:-2px;
  transform-origin: 0px 0px 0px;
  transition: all .2s $swift-in;
  z-index: 5;
  margin-bottom: -2px;
  &.panning {
    transition: none;
  }
}

.v-tab-content {
  @extend .whiteframe-z1;
  padding: 0 16px 16px 16px;
  background-color: #fff;
}
