@import '../variables';

.v-toast-container {
  position: fixed;
  bottom: 0;
  width: 100vw;
  right: 0;
  z-index: 10;
  display: flex;

  .v-toast {
    color: #fff;
    background-color: #323232;
    height: 48px;
    padding: 14px 24px;
    min-width: 288px;
    max-width: 568px;
    border-radius: 2px 2px 0 0;
    margin: 0 auto;
    display: flex;
    align-content: space-between;
    position: relative;

    @media (max-width: $small-breakpoint) {
      min-width: 100%;
      max-width: 100%;
    }
    span {
      font-size: 14px;
      line-height: 22px;
      vertical-align: middle;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: block;
      overflow: hidden;
    }
    .v-button {
      display: block;
      position: absolute;
      right: 2px;
      top: 2px;
      color: #fff;
    }
  }
}
