@import '../variables';
@import '../whiteframe';
.toolbar {
  //@extend .whiteframe-z2;
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  position: absolute;
  color: #fff;
  background-color: $primary-color;
  padding: 4px;
  z-index: 10;
  //top: -64px;
  .icon-button-wrapper {
    width: 40px;
    height: 40px;
  }
  i {
    color: #fff;
    display: inline;
  }
  .button.icon-button.square, i {
    height: 40px;
    width: 40px;
  }
  .title {
    position: relative;
    margin-left: 16px;
  }
}