.typography-demo > div {
  margin: 16px 0;
}
.headings {
  border-bottom: 1px solid rgba(0,0,0,.12);
  padding: 0 0 16px 0;
}
.selector {
  background-color: rgba(0,0,0,.12);
  padding: 8px;
  font-family: 'Roboto Mono', monospace;
  color: rgb(63, 81, 181);
  font-size: 12px;
  display: inline-block;
  span {
    white-space: pre-wrap;
    display: flex;
  }
}
.no-margin {
  margin: 0 0 0 0;
}

.typography-demo .row {
  margin-bottom: 16px;
}