.headings {
  border-bottom: 1px solid rgba(0,0,0,.12);
  padding: 0 0 16px 0;
}

.no-margin {
  margin: 0 0 0 0;
}

.typography-demo .row {
  margin-bottom: 16px;
}
pre[class*=language-] {
  margin-top: 0;
  border-radius: 0;

  code {
    white-space: pre-wrap;
  }
}

h3 {
  padding: 16px 0;
}