body {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
  color: rgba(0,0,0,.87);
  margin-bottom: 48px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  margin-top: 48px;
}

.container {
  max-width: 90%;
  width: 1200px;
  margin: auto;
}

.hidden {
  opacity: 0;
}

.row.page-content {
  margin: 0 1rem;
}

* {
  box-sizing: border-box;
}