@import 'variables';

body {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
  color: rgba(0,0,0,.87);
  margin-bottom: 48px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  margin-top: 48px;
}

.container {
  width: 1200px;
  margin: auto;
}

.hidden {
  opacity: 0;
}

.row.page-content {
  margin: 0 1rem;
  @media screen and (max-width: $small-breakpoint) {
    margin: 0;
  }
}

* {
  box-sizing: border-box;
}

.v-no-padding {
  padding-left: 0;
  padding-right: 0;
}