@import './variables';

/* always present */
.fade-enter-active
.fade-leave-active {
  transition: opacity .3s ease;
  opacity: 1;
  display: block;
}
/* .expand-enter defines the starting state for entering */
/* .expand-leave-active defines the ending state for leaving */
.fade-enter,
.fade-leave-active {
  opacity: 0;
  display: block;
}

.hidden {
  opacity: 0;
}

.visibility-hidden {
  visibility: hidden;
}

/* always present */
.toast-enter-active,
.toast-leave-active {
  transition: transform .4s $swift-in;
  transform: translateY(0px);
  span {
    transition: opacity .4s $swift-in .1s;
    opacity: 1;
  }
}
/* .expand-enter defines the starting state for entering */
/* .expand-leave-active defines the ending state for leaving */
.toast-enter,
.toast-leave-active {
  transform: translateY(48px);
  span {
    opacity: 0;
  }
}
