@import './variables';

//.fade-enter-active,
//.fade-leave-active {
//  transition: opacity .25s;
//  opacity: 1;
//  display: block;
//}
//.fade-enter,
//.fade-leave-active {
//  opacity: 0;
//}

.app-container {
  position: relative;
}

/* always present */
.router-fade-enter-active,
.router-fade-leave-active {
  position: absolute;
  width: calc(100%);
  padding-left: 280px;
  top: 0;
  right: 0;
  //overflow: scroll;
  transition: opacity .3s $swift-in;
  opacity: 1;
  display: block;
  left: 0;
  .page-tabs {
    .v-tab-items-container {
      top: 60px;
      position: absolute;
    }
  }
}
/* .expand-enter defines the starting state for entering */
/* .expand-leave-active defines the ending state for leaving */
.router-fade-enter,
.router-fade-leave-active {
  opacity: 0;
}

.router-fade-enter-active {
  //transition-delay: .15s;
}


/* always present */
.fade-enter-active,
.fade-leave-active {
  transition: opacity .3s $swift-in;
  opacity: 1;
  display: block;
}
/* .expand-enter defines the starting state for entering */
/* .expand-leave-active defines the ending state for leaving */
.fade-enter,
.fade-leave-active {
  opacity: 0;
  //display: block;
}

.hidden {
  opacity: 0;
}

.visibility-hidden {
  visibility: hidden;
}

/* always present */
.toast-enter-active,
.toast-leave-active {
  transition: transform .4s $swift-in;
  transform: translateY(0px);
  span {
    transition: opacity .4s $swift-in .1s;
    opacity: 1;
  }
}
/* .expand-enter defines the starting state for entering */
/* .expand-leave-active defines the ending state for leaving */
.toast-enter,
.toast-leave-active {
  transform: translateY(48px);
  span {
    opacity: 0;
  }
}
