$primary-color: #3F51B5;

$transition-timing: all .3s cubic-bezier(.55,0,.1,1);

$swift-out: cubic-bezier(.55,0,.1,1);
$swift-in: cubic-bezier(0,0,.2,1);

//Fonts
$light: 300;
$regular: 400;
$medium: 500;

//Text Colors
$primary-text: rgba(0,0,0, .87);
$secondary-text: rgba(0,0,0, .54);
$disabled-text: rgba(0,0,0, .38);
$hint-text: rgba(0,0,0, .38);